<h2>Su Producto Seleccionado</h2>
<hr>

<p>Codigo del Producto: {{product.code}}</p>
<p>Marca: {{product.title}}</p>
<p>Detalle: {{product.description}}</p>
<p>Categoria: {{product.category}}</p>
<p>precio: {{product.price}}</p>
<br>
<button onclick="window.location.href='/productos'">Volver</button>
<br>
<br>
<br>